@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
body{
    
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans';
    height: 1264px;
    width: 1083px;
    border-left: 60px solid white;
    
}

#line{
    width: 1083px;
    border: 1px solid #eceaea;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

div#LOVT{
    position: relative;
    left:120px;
    font-size: 40px;
    top: 30px;
    color: #777777;

}

div#title1{
    position: relative;
    display: flex;
    bottom: 7px;
    font-size: 14px;
    color: #AAAAAA;
    left: 206px;
}
img#bottonLine{
    position: relative;
    display: flex;
    bottom: 41px;
    left: 94%;
    width: 30px;
    height: 30px;
}
img#principal{
    position: relative;
    width:900px ;
    left: 10%;
    top: 20px;
}

#Ellipse1{
    position: relative;
    left: 950px;
    bottom:220px;
}
#Ellipse2{
    position: relative;
    left: 85px;
    bottom:220px;
}
#vector1{
    position: relative;
    display: flex;
    bottom: 253.5px;
    left: 967px;
}

#vector2{
    position: relative;
    display: flex;
    bottom: 269.5px;
    left: 140px;
}

ul#imagens{
        list-style: none;
        display:flex;
        justify-content: space-around;
        
        
}
.corpo3 img{
    width: 385px;
}

.corpo3 p{
    width: 375px;
    text-align: left;
    /* text-indent: 5px; */
    margin-top: 60px;
    background-color: rgb(240, 240, 240);
    height: 70px;
    border-top: 60px solid rgb(240, 240, 240);
    border-left: 10px solid rgb(240, 240, 240);
    position: relative;
    bottom: 64px;
    font-size: 14px;
    
}


li#New{
    position: relative;
    list-style: none;
    color: white;
    background-color: #51D275;
    width: 8%;
    border-radius: 12.5px;
    margin: 10px;
height: 5vh;
text-align: center;
bottom:215px;
left: 350px;
font-size: 30px;
}

li#Sale{
    position: relative;
    list-style: none;
    color: white;
    background-color: #DC9730;
    width: 8%;
    border-radius: 12.5px;
    margin: 10px;
height: 5vh;
text-align: center;
bottom:258px;
left: 871px;
font-size: 30px; 
}

ul#valores{
    position:relative;
    list-style: none;
    display:flex;
    justify-content: space-around;
    bottom: 319px;
    right: 140px;
    font-size: 30px;
    color: #888888;

    
    
}