@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body {
max-width: 1083px;
   

    font-family: 'Ropa Sans';
    height: 1691px;
    width: 1083px;
    border: 1px solid rgb(255, 255, 255);

}
main{
    
    padding: 5px 10px;
    margin-top: 0px;
    border-radius: 10px;
}

#line {
    width: 1083px;
    border: 1px solid #eceaea;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    right: 10px;
}

div#LOVT {
    position: relative;
    left: 120px;
    font-size: 40px;
    top: 30px;
    color: #777777;

}

div#title1 {
    position: relative;
    display: flex;
    bottom: 7px;
    font-size: 14px;
    color: #AAAAAA;
    left: 206px;
}

img#bottonLine {
    position: relative;
    display: flex;
    bottom: 41px;
    left: 94%;
    width: 30px;
    height: 30px;
}

img#principal {
    position: relative;
    width: 900px;
    left: 10%;
    top: 20px;
}

#Ellipse1 {
    position: relative;
    left: 950px;
    bottom: 220px;
}

#Ellipse2 {
    position: relative;
    left: 85px;
    bottom: 220px;
}

#vector1 {
    position: relative;
    display: flex;
    bottom: 253.5px;
    left: 967px;
}

#vector2 {
    position: relative;
    display: flex;
    bottom: 269.5px;
    left: 140px;
}

ul#imagens {
    list-style: none;
    display: flex;
    justify-content: space-around;
    


}

.corpo3 img {
    width: 385px;
}

.corpo3 p {
    width: 375px;
    text-align: left;
    /* text-indent: 5px; */
    margin-top: 60px;
    background-color: rgb(240, 240, 240);
    height: 70px;
    border-top: 60px solid rgb(240, 240, 240);
    border-left: 10px solid rgb(240, 240, 240);
    position: relative;
    bottom: 64px;
    font-size: 14px;

}


.newsale{
    font-size: 30px;
    display: flex;
    justify-content:center;
    position: relative;
    gap: 44%;
    bottom: 250px;
    left: 140px;
}

.newsale #new{
    color: white;
    background-color: #51D275;
    width: 8%;
    border-radius: 12.5px;
   
    height: 40px;
    text-align: center;
    
}

.newsale #sale{
    color: white;
    background-color: #DC9730;
    width: 8%;
    border-radius: 12.5px;
   
    height: 40px;
    text-align: center;
}

.valores{
    font-size: 30px;
    display: flex;
    justify-content:center;
    position: relative;
    gap: 40%;
    bottom: 360px;
    right: 100px;
    color: #888888;
}
.corpo4{
    margin-top: -100px;
}
.corpo4 h1{
    position: relative;
    color: grey;
    bottom: 200px;
     left:28px;
    text-align: center;
}
.container{
    position: relative;
list-style: none;
bottom: 200px;
margin-left: 250px ;
}

#rectangle14{
    background: url('/img/Rectangle\ 11.png');
}
#rectangle15{
    background: url('/img/Rectangle\ 12.png');
}
#rectangle16{
    background: url('/img/Rectangle\ 13.png');
}

.containertxt{
   position: relative;
   text-align: center;
   bottom: 470px;
   line-height: 65px;
   left: 27px;
   color: white;
}

.footer{
    position: relative;

    background-color: #333333;
    width: 1083px;
    height: 280px;
    bottom: 420px;
    left: 0px;
    margin-bottom: -150px;
}

#map{
    position: relative;
    padding: 10px;
    width: 400px;
}

.footericons
{display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 50px;
    right: 100px;
    height:30px ;
    gap: 1%;
}

.footertxt{
    background-color: #333333;
    color: white;
    width: 200px;
    position: relative;
    left: 77%;
    bottom: 90%;

}
