@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body {

    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans';
    height: 1264px;
    width: 1083px;
    border-left: 60px solid white;

}

#line {
    width: 1083px;
    border: 1px solid #eceaea;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

div#LOVT {
    position: relative;
    left: 120px;
    font-size: 40px;
    top: 30px;
    color: #777777;

}

div#title1 {
    position: relative;
    display: flex;
    bottom: 7px;
    font-size: 14px;
    color: #AAAAAA;
    left: 206px;
}

img#bottonLine {
    position: relative;
    display: flex;
    bottom: 41px;
    left: 94%;
    width: 30px;
    height: 30px;
}

img#principal {
    position: relative;
    width: 900px;
    left: 10%;
    top: 20px;
}

#Ellipse1 {
    position: relative;
    left: 950px;
    bottom: 220px;
}

#Ellipse2 {
    position: relative;
    left: 85px;
    bottom: 220px;
}

#vector1 {
    position: relative;
    display: flex;
    bottom: 253.5px;
    left: 967px;
}

#vector2 {
    position: relative;
    display: flex;
    bottom: 269.5px;
    left: 140px;
}


.corpo{}

div.corpo1{
}

.casas-casa1 {
  width: 300px;
  margin-right: 1%;

}

div#casa1{}
div#casa2{}


