body{
    width: 96%;
    max-width: 800px;
    margin: auto;
    background: url('../pagina1/images/bg.jpg') center;


    font-family: sans-serif;
    line-height: 1.5;
    color: white;
}

main{
    background: #00000054;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 10px;

}

.logo, .headline, .bandname {
    text-align: center;
    margin: 0;
}

.concerts{
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

.concerts table {
    background: #cb3a3ab3;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
   
}